#container {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.keyTable span {
    width: 20px;
    display: inline-block;
    margin-right: 2px;
    text-align: center;
}
.keyTable span button {
    padding: 0;
    width: 100%;
}
.ciphersAndPlains {
    font-family: Lucida Console,Monaco,monospace;
    font-size: 18px;
}
.cipherTable {
    margin-top: 20px;
}
.plainTable {
    background: #efefef;
}
.ciphersAndPlains span {
    width: 20px;
    display: inline-block;
    margin-right: 2px;
    text-align: center;
    border: 1px solid #ccc;
    height: 27px;
    vertical-align: bottom;
}
.cipherTable span {border-bottom: none;}
.plainTable span {border-top: none;}
.plainTable .plainChar {
    background-color: #fff;
    box-shadow: 3px 2px 3px #ccc;
    border-top: 1px solid;
    border-color: #777;
    background-clip: content-box;
}
.plainChar + .plainChar {
    margin-left: -4px;
    border-left-color: transparent;
    width: 24px;
}